/*
  Responsive adaptations
*/

@media screen and (max-width: 1199px) {
  .pic-name {
    font-size: 50px;
  }

  .link {
    word-break: break-all;
    font-size: 40px;
  }

  #myname {
    word-break: break-all;
    font-size: 60px;
  }

  #mytitle {
    word-break: break-all;
    font-size: 30px;
  }

  #featured-title {
    word-break: break-all;
    font-size: 60px;
  }
}


@media screen and (min-width: 1200px) {
  .pic-name {
    font-size: 30px;
  }

  .link {
    word-break: break-all;
    font-size: 20px;
  }
}


/*
  Common tags
*/

header {
  font-family: "Open Sans Condensed";
  border-bottom: 2px solid #7d97ad;
}

main {
  font-family: "Ubuntu";
}


/*
  Classes
*/

.header-logo {
    text-align: left;
}

.header-text {
    text-align: right;
}

.htmlmeta {
  width: 100%
}

.featured {
  text-align: center;
  width: 100%;
}


/*
  IDs
*/

#logo {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
